extends ../../layout

block content
	
	.container
		.section
			h2.container__title Actualités
			.details.section__content
				.details__item
					.details__image
						img.thumbnail(src="images/actu/1.jpg" width="500" height="300"  alt="image")
					.details__text
						h2 Loué sois-Tu
						p La terre est notre maison commune ...
						p
							a.btn.btn--primary(href="/formation/article") voir plus
				.details__item.details__item--reverse
					.details__image
						img.thumbnail(src="images/actu/2.jpg" width="500" height="300"  alt="image")
					.details__text
						h2 La saison des salons des études Supérieurs
						h3 CRITERES D’ADMISSION
						ul
							li International Business Companies (IBCs) set-up on the island of Seychelles are exempt from corporation tax.
							li No capital gains tax, no withholding tax and no exchange controls.

						h3 DOSSIERS DE CANDIDATURE
						ul
							li  Demande manuscrite de candidature
							li  Fiche d’inscription
						p
							a.btn.btn--primary(href="/formation/article") voir plus
