extends ../../layout

block content
	
	.container
		.section.module
			h2.container__title Gestion management du centre
			p Quickly engineer performance based functionalities rather than strategic opportunities. Progressively engage empowered methods of empowerment for principle-centered outsourcing. Conveniently cultivate.
			
			.module__action
				a.btn.btn--primary(href="/formation/module-body") Consulter
			.module__action
				a.btn.btn--primary(href="/formation/module") Consulter en tant que formateur

			.tabs
				.tabs__header
					ul
						li.active
							a.js-tabs-label(href="#" data-id="1") Module 1
						li
							a.js-tabs-label(href="#" data-id="2") Module 2
				.tabs_content
					.tabs__item.js-tabs-item.active(data-id="1")
						h2.container__title Module 1 - Gestion management du centre
						p Quickly engineer performance based functionalities rather than strategic opportunities. Progressively engage empowered methods of empowerment for principle-centered outsourcing. Conveniently cultivate.
						h3 Module 1 
						p Quickly engineer performance based functionalities rather than strategic opportunities. Progressively engage empowered methods of empowerment for principle-centered outsourcing. Conveniently cultivate.
						.dropdown.js-dropdown
							h3.dropdown__itemTitle.js-dropdown-title Session 1 (Commence le 12 Mai 2021)
								i.fa.fa-angle-down
							.dropdown__itemContent.js-dropdown-content
								p Quickly engineer performance based functionalities rather than strategic opportunities. Progressively engage empowered methods of empowerment for principle-centered outsourcing. Conveniently cultivate.
								ul
									li Lorem Ipsum
									li Lorem Ipsum
									li Lorem Ipsum
									li Lorem Ipsum
								p Quickly engineer performance based functionalities rather than strategic opportunities. Progressively engage empowered methods of empowerment for principle-centered outsourcing. Conveniently cultivate.
								.dropdown__action
									a.btn.btn--secondary(href="/formation/video") Participer
						.dropdown.js-dropdown
							h3.dropdown__itemTitle.js-dropdown-title Session 2 (Non programmée)
								i.fa.fa-angle-down
							.dropdown__itemContent.js-dropdown-content
								p Dynamically engineer leading-edge expertise for functional action items. Intrinsicly iterate bricks-and-clicks alignments rather than market.
								ul
									li Lorem Ipsum
									li Lorem Ipsum
									li Lorem Ipsum
									li Lorem Ipsum
								.dropdown__action
									a.btn.btn--secondary.btn--disabled(href="/formation/video") Participer
					.tabs__item.js-tabs-item(data-id="2")
						h2.container__title Module 2 - Gestion management du centre
						p Quickly engineer performance based functionalities rather than strategic opportunities. Progressively engage empowered methods of empowerment for principle-centered outsourcing. Conveniently cultivate.
						h3 Module 2 
						p Quickly engineer performance based functionalities rather than strategic opportunities. Progressively engage empowered methods of empowerment for principle-centered outsourcing. Conveniently cultivate.
						.dropdown.js-dropdown
							h3.dropdown__itemTitle.js-dropdown-title Session 1 (Non programmée)
								i.fa.fa-angle-down
							.dropdown__itemContent.js-dropdown-content
								p Quickly engineer performance based functionalities rather than strategic opportunities. Progressively engage empowered methods of empowerment for principle-centered outsourcing. Conveniently cultivate.
								ul
									li Lorem Ipsum
									li Lorem Ipsum
									li Lorem Ipsum
									li Lorem Ipsum
								p Quickly engineer performance based functionalities rather than strategic opportunities. Progressively engage empowered methods of empowerment for principle-centered outsourcing. Conveniently cultivate.
								.dropdown__action
									a.btn.btn--secondary.btn--disabled(href="/formation/video") Participer
						.dropdown.js-dropdown
							h3.dropdown__itemTitle.js-dropdown-title Session 2 (Non programmée)
								i.fa.fa-angle-down
							.dropdown__itemContent.js-dropdown-content
								p Dynamically engineer leading-edge expertise for functional action items. Intrinsicly iterate bricks-and-clicks alignments rather than market.
								ul
									li Lorem Ipsum
									li Lorem Ipsum
									li Lorem Ipsum
									li Lorem Ipsum
								.dropdown__action
									a.btn.btn--secondary.btn--disabled(href="/formation/video") Participer
					
			p Uniquely e-enable accurate platforms vis-a-vis real-time initiatives. Rapidiously deploy leveraged channels through economically sound outsourcing. Conveniently strategize ethical e-commerce via customer directed materials. Synergistically fashion future-proof niches before covalent solutions. Continually maintain long-term high-impact information without focused outsourcing.Phosfluorescently provide access to an expanded array of portals before cross-media metrics. Holisticly target compelling functionalities and multimedia based imperatives. Continually visualize real-time functionalities and next-generation alignments. Dramatically target extensive relationships via global platforms. Professionally productivate visionary intellectual capital.
	.container.partner 
		h2.container__title Nos partenaires
		.partner__container
			.slider.js-slider-image
				.slider__item.partner__item
					img(src="images/partner/1.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/2.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/3.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")