extends ../../layout

block content
	
	.container
		.section
			h2.container__title Nos formations
			.formation.section__content
				a(href="/formation/formation").formation__item.js-open-project-item
					.formation__image
						img(src="images/programs/1.jpg" width="300" height="300"  alt="image")
					.formation__text
						h3 Gestion management du centre
				a(href="/formation/formation").formation__item.js-open-project-item
					.formation__image
						img(src="images/programs/2.jpg" width="300" height="300"  alt="image")
					.formation__text
						h3 Psychologie de l'enfant
				a(href="/formation/formation").formation__item.js-open-project-item
					.formation__image
						img(src="images/programs/3.jpg" width="300" height="300"  alt="image")
					.formation__text
						h3 Puériculture
				a(href="/formation/formation").formation__item.js-open-project-item
					.formation__image
						img(src="images/programs/4.jpg" width="300" height="300"  alt="image")
					.formation__text
						h3 Formation
				a(href="/formation/formation").formation__item.js-open-project-item
					.formation__image
						img(src="images/programs/4.jpg" width="300" height="300"  alt="image")
					.formation__text
						h3 Formation
				a(href="/formation/formation").formation__item.js-open-project-item
					.formation__image
						img(src="images/programs/4.jpg" width="300" height="300"  alt="image")
					.formation__text
						h3 Formation
				a(href="/formation/formation").formation__item.js-open-project-item
					.formation__image
						img(src="images/programs/4.jpg" width="300" height="300"  alt="image")
					.formation__text
						h3 Formation
				a(href="/formation/formation").formation__item.js-open-project-item
					.formation__image
						img(src="images/programs/4.jpg" width="300" height="300"  alt="image")
					.formation__text
						h3 Formation
				a(href="/formation/formation").formation__item.js-open-project-item
					.formation__image
						img(src="images/programs/4.jpg" width="300" height="300"  alt="image")
					.formation__text
						h3 Formation
