extends ../../layout

block content
	
	.container
		.documentations
			h3 Support de cours (3)
			ul
				li
					a(href="#") Gestion_management_du_centre-part1.pdf
				li
					a(href="#") Gestion_management_du_centre-part2.pdf
				li
					a(href="#") Gestion_management_du_centre-part3.pdf
		.liveChat
			h3 Formateurs (2)
			ul
				li
					a(href="#") Rafaele Bulian
				li
					a(href="#") John Smith
			h3 Etudians (3)
			ul
				li
					a(href="#") Rakotomalala Aina
				li
					a(href="#") Randriambelo Alexia
				li
					a(href="#") Bommartin Antso
		.section.module
			h2.container__title Module 1 - Gestion management du centre
		table
			thead
				tr
					th(scope='col') Evaluation
					th(scope='col') Date limite
					th(scope='col') Nombre de questions
					th(scope='col') Taux de réusite
					th(scope='col') Action
			tbody
				tr
					td(data-label='Account') Pre test
					td(data-label='Due Date') 21/05/2021
					td(data-label='Amount') 20
					td(data-label='Amount') 70%
					td(data-label='Period')
						a(href="#") Voir les resultats
				tr
					td(scope='row' data-label='Account') Exercice 1
					td(data-label='Due Date') 25/05/2021
					td(data-label='Amount') 3
					td(data-label='Amount') 50%
					td(data-label='Period') 
						a(href="#") Corriger
				tr
					td(scope='row' data-label='Account') Exercice 2
					td(data-label='Due Date') 25/05/2021
					td(data-label='Amount') 10
					td(data-label='Amount') 0%
					td(data-label='Period') 
						a(href="#") Publier
				tr
					td(scope='row' data-label='Acount') Exercice 3
					td(data-label='Due Date') 25/05/2021
					td(data-label='Amount') 15
					td(data-label='Amount') 0%
					td(data-label='Period')
						a(href="#") Publier
				tr
					td(scope='row' data-label='Acount') Post test
					td(data-label='Due Date') 25/05/2021
					td(data-label='Amount') 25
					td(data-label='Amount') 0%
					td(data-label='Period')
						a(href="#") Publier
				tr
					td(scope='row' data-label='Acount') Déposer votre avis...
					td(data-label='Due Date') 25/05/2021
					td(data-label='Amount') 10
					td(data-label='Amount') 0%
					td(data-label='Period')
						a(href="#") Publier
