extends ../../layout

block content
	
	.container.partner 
		h2.container__title Nos partenaires
		.partner__container
			.slider.js-slider-image
				.slider__item.partner__item
					img(src="images/partner/1.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/2.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/3.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
				.slider__item.partner__item
					img(src="images/partner/4.jpg" width="100" height="100"  alt="image")
		.partner__container
			ul
				li
					a(href='https://www.misereor.org/fr/' target='_blank') MISEREOR
					|  (Partenaire Principal)
				li
					a(href='http://www.ucm.mg/' target='_blank') Universit&eacute; Catholique de Madagascar
				li
					a(href='http://www.institutsociallille.fr/' target='_blank') Institut Social Lille Vauban
				li
					a(href='http://www.itsra.net/itsra/index.php' target='_blank') ITSRA : Institut de Travail Social de la R&eacute;gion Auvergne
				li
					a(href='http://www.irtsaquitaine.fr/' target='_blank') IRTS Aquitaine
				li
					a(href='https://www.unicef.org/french/infobycountry/comoros_contact.html') UNICEF COMORES
				li
					a(href='https://www.facebook.com/sufop.universitedescomores') SUFOP - Universit&eacute; des Comores
				li
					a(href='http://www.cnaps.mg/FR/') CNaPS
				li
					a(href='https://www.facebook.com/madagascar.alzheimer.page/') Madagascar Alzheimer Masoandro Mody
				li
					a(href='http://afmv85.over-blog.com/page-6592822.html' target='_blank') L&rsquo;Association France Vend&eacute;e Madagascar
				li
					a(href='http://www.irtsreunion.fr/spip.php?article1603' target='_blank') IRTS La R&eacute;union
				li
					a(href='https://www.unicef.org/madagascar/fr/' target='_blank') UNICEF
				li
					a(href='http://www.population.gov.mg/' target='_blank') Minist&egrave;re de la Population, de la Protection Sociale et de la Promotion de la Femme
				li
					a(href='http://www.grandirdignement.org' target='_blank') Association Grandir Dignement
				li
					a(href='https://www.handicapinternational.be/fr/madagascar' target='_blank') Humanite et Inclusion
				li
					a(href='http://www.grainesdebitume.org/' target='_blank') Graines de Bitume Madagascar
				li
					a(href='http://www.oscape.org/' target='_blank') R&eacute;seau OSCAPE
				li
					a(href='http://www.vesosmad.org/' target='_blank') SOS Village d&rsquo;enfants Madagascar
				li
					a(href='http://www.perepedro-akamasoa.net/' target='_blank') Association Akamasoa
				li
					a(href='http://sesame.promesmada.org/' target='_blank') Programme Sesame Association Promes
				li
					a(href='http://orchideesblanches.org/presentation.php' target='_blank') Association Les Orchid&eacute;es Blanches
				li
					a(href='http://les-enfants-du-soleil-madagascar.org/' target='_blank') Les enfants du soleil Madagascar
				li
					a(href='http://ecpat-france.fr/fiches-pays/madagascar/' target='_blank') ECPAT France Madagascar
				li
					a(href='https://rtm.ong/index.php' target='_blank') ONG RTM- Reggio Terzo Mondo
				li
					a(href='http://les-enfants-du-soleil-madagascar.org/' target='_blank') Association Les Enfants du Soleil
				li
					a(href='https://akany-avoko.blogspot.com/' target='_blank') Akany Avoko
				li
					a(href='https://www.mademada.org/' target='_blank') Maisons Des Enfants Onlus - MA.D.E.&nbsp;
				li
					a(href='http://www.actioncontrelafaim.org') Action Contre la Faim
