extends ../../layout

block content
	.videoCall
		.videoCall__action
			i.fa.fa-microphone
			i.fa.fa-video-camera
			i.fa.fa-desktop
			i.fa.fa-phone
		.videoCall__former
			.videoCall__status
				i.fa.fa-microphone
		.videoCall__students
			.slider.js-slider-user-image
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
				.slider__item.videoCall__user
					img(src="images/avatar/1.jpg" width="100" height="100"  alt="image")
					.videoCall__status
						i.fa.fa-microphone-slash
		.videoCall__actions
	

			