extends ../../layout

block content
   
    .container
        .container__body.small
            h1 Change password
            .js-error-container
            form.form.js-form.fullpage.js-vortex-container(data-vortex-scenario='change-password', data-parsley-validate)
                label.form__input(for='inputPassword')
                    span inputPassword
                    input(id='inputPassword', name='inputPassword', type='password', required)
                label.form__input(for='inputPassword2')
                    span inputPassword2
                    input(id='inputPassword2', name='inputPassword2', type='password', required)
                label.form__input(for='inputPassword3')
                    span inputPassword3
                    input(id='inputPassword3', name='inputPassword3', type='password', required)
            .container__footer
                input.btn.btn--primary.js-change-password-btn.btn--disabled.js-dynamic-button(type='submit' value='Change password')