extends ../../layout

block content
    
    .container
        .container__body.small
            h1 Reset Password
            form.form.js-form.fullpage.js-vortex-container(data-vortex-scenario='reset-password', data-parsley-validate)
                label.form__input(for='inputMail')
                    span inputMail
                    input(id='inputMail', name='inputMail', type='email', required)
            .container__footer
                input.btn.btn--primary.btn--disabled.js-dynamic-button.js-reset-password-btn(type='submit' value='Submit')