$primary-color: rgba(0,175,102,1);
$secondary-color: #E7D336;
$white-color: #f0f6fc;
$shadow-color: #ccc;
$warning-color: red;


$white-color-rgba-9: rgba(255, 255, 255, .9);
$primary-color-rgba: rgba(0,175,102,.8);