extends ../../layout

block content
	
	.container
		h2 DROPDOWN
		.dropdown.js-dropdown
			h3.dropdown__itemTitle.js-dropdown-title Lorem Ipsum
				i.fa.fa-angle-down
			.dropdown__itemContent.js-dropdown-content
				ul
					li Lorem Ipsum
					li Lorem Ipsum
					li Lorem Ipsum
					li Lorem Ipsum
					li Lorem Ipsum
					li Lorem Ipsum
					li Lorem Ipsum
					li Lorem Ipsum
		h2 SLIDER
		h3 Slider (Text)
		.slider.js-slider
			.slider__item
				h2 Lorem ipsum dolor amet
			.slider__item
				h2 Lorem ipsum dolor amet
			.slider__item
				h2 Lorem ipsum dolor amet
			.slider__item
				h2 Lorem ipsum dolor amet
		h3 Slider (Image)
		.slider.js-slider-image
			.slider__item
				img.js-lazy(src="images/albums/150.png", height="200", width="200" alt="Album" )
			.slider__item
				img.js-lazy(src="images/albums/150.png", height="200", width="200" alt="Album" )
			.slider__item
				img.js-lazy(src="images/albums/150.png", height="200", width="200" alt="Album" )
			.slider__item
				img.js-lazy(src="images/albums/150.png", height="200", width="200" alt="Album" )