.js-webservice-params(data-webservice-status='OK', data-webservice-redirect-timer='', data-webservice-redirect-url='', data-webservice-popin-timer='3000')
.js-webservice-error-message
    h2 error message
.js-webservice-header-profile-content.header__profile
    ul
        li
            a(href="/profile") Profile
        li
            a.js-logout(href="#") Logout