.js-webservice-params(data-webservice-status='OK', data-webservice-redirect-timer='', data-webservice-redirect-url='', data-webservice-popin-timer='3000')
h1 Reset password
.js-error-container
form.form.js-form(data-parsley-validate data-form='reset-password')
    label.form__input(for='inputMail')
        span inputMail
        input(id='inputMail', name='inputMail', type='email', required)
    input.btn.btn--primary.btn--disabled.js-dynamic-button.js-reset-password-btn(type='submit' value='Reset')